* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Dancing Script", cursive, sans-serif;
  margin: 0;
  display: block;
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

#searchInput {
  margin-top: 30px;
}

input {
  width: 30%;
  font-size: 22px;
  padding: 15px;
  margin: 15px;
}

.gallery {
  padding: 50px 20px;
  margin: 30px;
}

img {
  max-width: 100%;
}

/* Media Queries */
@media (min-width: 768px) {
  .column {
    width: 33.3%;
    float: left;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (min-width: 1024px) {
  .gallery {
    margin: auto 40px;
  }

  .column {
    padding: 20px;
    width: 25%;
  }
}
